[Unit]
Description=Impression
After=network.target

[Service]
ExecStart={{ node_dir }}/bin/node --env-file-if-exists=.env backend/main.ts
WorkingDirectory=/home/impression/app
User=impression
Group=impression
Environment=NODE_ENV=production PORT=3011
Type=notify
NotifyAccess=all
Restart=on-failure

[Install]
WantedBy=multi-user.target
